.musling {
    max-width: 15%;
    max-height: 15%;
    margin: auto; /* Til at centrere vandret */
}

.overskrift_portfolio{
    text-align: center;
    padding-top: 130px;
    font-size: 34px; 
    padding-bottom: 40px;
}

.link_portfolio{
    text-align: center;
    padding-top: 130px;
    padding-left: 45% ;
}

@media (max-width: 800px) {  
    .musling{
        max-width: 35%;
        max-height: 35%;
        margin: auto; /* Til at centrere vandret */  
    }

    .overskrift_portfolio{
        text-align: center;
        padding-top: 100px;
        font-size: 30px; 
        padding-bottom: 40px;
    }
    
    .link_portfolio{
        text-align: center;
        padding-top: 130px;
        padding-left: 34% ;
    }
      }